/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    body {
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        position: relative;
        height: 100%;
    }

    :root {
        --border-style: 1px solid #0098A9;
    }

    .location, .date {
        font-size: 18px;
        font-weight: 200;
        color: #ffffff;
        width: auto;
    }

    .hero-wrapper {
        position: relative;
        text-align: center;
        color: white;
    }

    h4, h3 {
        font-size: 20px;
        font-weight: 200;
        width: 100%;
        color: #ffffff;
    }

    h1 {
        font-weight: 200;
    }

    .wedding-date {
        text-align: left;
        display: inline-block;
        padding: 0 0 0 25px;
        color: #828282;
        font-weight: 300;
        font-size: 14px;
    }

    .wedding-location {
        text-align: left;
        display: inline-block;
        padding: 0 0 0 5px;
        color: #828282;
        font-weight: 300;
        font-size: 14px;
    }

    .hashtag-nav {
        text-align: right;
        float: right;
        padding-right: 25px;
        font-weight: 300;
        color: #828282;
        font-size: 14px;
    }

   .main {
        text-align: center;
        font-size: 24px;
   }

   header {
        z-index: 1;
   }

   nav {
        text-align: center;
        vertical-align: middle;
        top: 0;
        width: 100%;
        position: relative;
        border-bottom: var(--border-style);
        background: white;
        overflow: hidden;
    }

    .fixed-nav {
        position: fixed;
        z-index: 1;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        text-align: center;
        display: block;
        color: #828282;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 25px 10px 25px;
    }

    nav a:hover {
        background-color: #0098A9;
        color: white;
    }

    .active {
        background-color: #0098A9;
        color: white;
    }

    .nav-title {
        text-align: center;
        color: #0098A9;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 5px;
        font-weight: 200;
    }

   .hero-image {
        text-align: center;
        width: 100%;
        object-fit: cover;
   }

   .second-image {
       text-align: center;
       width: 100%;
       object-fit: fill; 
       padding-top: 30px;
       background-position: center;
   }

   img {
       width: 100%;
       object-fit: cover;
       max-height: 600px;
   }

   .homepage-header-text {
       text-align: center;
       font-size: 64px;
       line-height: 72px;
       text-transform: uppercase;
       color: #ffffff;
       font-weight: 200;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 100%;
   }

   .names-section {
       text-align: center;
       font-size: 26px;
       line-height: 32px;
       color: #0098A9;
       font-weight: 200;
       text-transform: uppercase;
       padding: 25px 0 25px 0;
   }

   .wedding-info-section{
       text-align: center;
       font-weight: 200;
       font-style: #ffffff;
       background-color: #0098A9;
       padding-bottom: 20px;
   }

  .schedule-headline, .proposal-headline, .met-headline {
      text-align: center;
      font-size: 38px;
      line-height: 42px;
      color: #0098A9;
      padding-top: 20px;
      text-transform: uppercase;
  }

  .proposal-header, .how-we-met {
      width: auto;
      max-width: 65%;
      text-align: center;
      margin: 0 auto;
  }

    .proposal-description, .met-description {
        font-size: 18px;
        line-height: 26px;
        font-weight: 200;
        color: #828282;
        text-align: center; 
    }

  .description {
      text-align: center;
      font-size: 26px;
      line-height: 34px;
      color: #828282;
      padding: 0 0 25px 0;
  }

  .event-name {
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      text-transform: uppercase;
      color: #0098A9;
      font-weight: 300;
  }

  .event-date, .event-time {
      text-align: center;
      font-size: 20px;
      line-height: 28px; 
      color: #828282;
      font-weight: 200;
  }

  .event-icon {
      text-align: center;  
      display: block;
      margin: 0 auto;
      padding: 0 0 10px 0;
      color: #828282;
      max-width: 50px;
  }

  address {
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      line-height: 26px;
      padding: 5px 0 0 0;
      color: #828282;
      font-style: normal; 
  }

  .event-note {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      color: #828282;
  }

  .registry-note {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      width: auto;
      color: #828282;
      width: auto;
      max-width: 65%;
      margin: 0 auto;
    }

  .initials {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      padding: 10px 0 0 0;
      color: #0098A9;
  }

  .footer {
      border-top: var(--border-style);
      width: 100%;
      color: #828282;
  }

  .footer-note {
     text-align: center;
     font-size: 16px;
 }

  .rsvp {
      text-align: center;
      font-size: 18px;
      line-height: 28px;
      color: #828282;
  }


@media screen and (min-width: 500px) {
    /* header classes go here */

    .burger {
        display: none;
    }

    .rsvp-hero-wrapper, .rsvp-content-names {
        text-align: center;
        text-transform: uppercase;
        color: #0098A9;
    }

    .rsvp-homepage-header-text {
        padding: 0 0 25px 0;
        text-align: center;
        text-transform: uppercase;
        color: #0098A9;
        font-size: 42px;
        line-height: 50px;
    }

    .content, .hashtag {
        justify-content: center;
        display: flex;
        padding: 0 0 20px 0;
        color: #828282;
        font-weight: 200;
    }
    .content .location {
        border-right: 2px solid #ffffff;
        padding: 0 5% 0 5%;
        vertical-align: middle;
        width: auto;
    }

    .content .date {
        padding: 0 5% 0 5%;
        vertical-align: middle;
        font-weight: 200;
    }

    .events-container {
        justify-content: center;
        display: flex;
    }

    .event-headline {
        border-right: 2px solid #0098A9;
        padding: 0 7% 20px 7%;
        vertical-align: middle; 
        text-align: center;
        flex: 1 0 300px;
    }

    .event-schedule-description {
        padding: 0 7% 20px 7%;
        vertical-align: middle;
        text-align: center;
        flex: 1 0 300px;
    }

    .address {
        font-size: 22px;
        line-height: 28px;
        padding: 10px 0 0 0;
    }

    .event-note {
        text-align: center;
    }

    .hero-image, .second-image {
        width: auto;
        max-width: 100% !important;
        height: auto;
        text-align: center;
        background-size: contain, cover;
        background-repeat: no-repeat;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    
    .nav-title {
        text-align: center;
        font-size: 20px;
        line-height: 40px;
    }
    .hashtag-nav, .wedding-date, .wedding-location {
        display: none;
        visibility: hidden;
    }
    h1 {
        font-size: 20px;
        line-height: 28px;
    }
    .homepage-header-text {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }
    .names-section {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        padding: 0px;
    }
    .horizontal {
        padding: 10px 0 10px 0;
        font-size: 24px;
        line-height: 26px;
    }
    .proposal-headline, .schedule-headline {
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }
    .event-date, .registry-note, .event-note {
        width: auto;
        max-width: 450px;
        font-size: 20px;
        line-height: 28px;
    }
    .description, .proposal-description, .met-description {
        text-align: center;
        font-size: 20px;
        line-height: 26px;
    }
    .proposal-description, .met-description, .registry-note {
        text-align: left;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    } 
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
